/ <% if @servers.any? %>
/     <div section='server-table' class='mt-4'>
/       <table class='table table-striped table-hover mt-4'>
/         <thead class='thead'>
/           <tr>
/             <th><%= Server.human_attribute_name(:name) %></th>
/             <th><%= Port.human_attribute_name(:port) %></th>
/             <th><%= Port.human_attribute_name(:rate) %></th>
/           </tr>
/         </thead>
/         <tbody>
/           <% @servers.each do |server| %>
/             <tr>
/               <td><%= server.name %></td>
/               <td><%= server.port.name %></td>
/               <td><%= server.port.rate %></td>
/             </tr>
/           <% end %>
/         </tbody>
/       </table>
/     </div>
/   <% end %>
/ </div>


  / section#start-stop-server.mt-4
  /   .card
  /     .card-header = t('.start_server')
  /       .card-body
  /         = link_to t('.start_btn'), start_polling_path, data: { turbo_method: :post }, class: 'btn btn-primary'
  /         = link_to t('.stop_btn'), stop_polling_path, data: {turbo_method: :post }, class: 'btn btn-danger'


