<div section="main">

    <%= link_to "Start polling", web_asrc_index_path, data: { turbo_method: :post }, class: "btn btn-primary" %>
    <%= link_to "Stop polling", web_asrc_index_path, data: { turbo_method: :post }, class: "btn btn-danger" %>
</div>
