<div section="main">

    <%= link_to "Start polling", start_polling_path, data: { turbo_method: :post }, class: "btn btn-primary" %>
    <%= link_to "Stop polling", stop_polling_path, data: { turbo_method: :post }, class: "btn btn-danger"%>
</div>
